* {
    padding: 0;
    margin:0;
}

@font-face {
  font-family: rochester;
  src: url(/assets/font/rochester.ttf);
}

@font-face {
  font-family: rocksalt;
  src: url(/assets/font/rocksalt.ttf);
}

@font-face {
  font-family: poppins;
  src: url(/assets/font/poppins.ttf);
}

.main {
    height: 100vh;
    width: 100%;
    background-image: url(../img/mainbg.jpg);
    background-size: cover;
    background-position: center;
}

.overlay{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.container {
    width: 60%;
    margin:auto;
}

.greeting {
    text-align: center;
    color: white;
    font-family: 'rochester';
    margin-top: 20px;
    font-size: 2.5em;
}

.btn {
    font-family: 'Poppins';
}

.icon {
    padding-top: 10%;
    text-align: center;
}

svg {
    width: 20%;
    fill:white;
}

.input-group {
    margin-top: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    height: 70px;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    box-shadow: 5px 5px 25px 2px rgba(255, 255, 255, 0.25);

}

.form-control {
    margin-left:20px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    outline:none;
    font-size: 30px;
    height: 50px;
    color:white;
    width: 100%;
}

.form-control::placeholder {
    color:rgba(255, 255, 255, 0.753);
    line-height: 50px;
    font-size: 25px;
    font-family: 'rochester';
}

.btn {
    /* margin-right:20px; */
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border: 1px solid white;
    outline: none;
    color: white;
}

.btn-input {
    margin-right: 20px;
}

.btn-pink {
    background-color: #FF4F4F;
}

.btn-pink:hover {
    background-color: #da3535;
}
.btn-green {
    background-color:#01b329;
}

.btn-green:hover {
    background-color: #086d1f;
}

.next {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-next {
    box-shadow: 5px 5px 25px 2px rgba(255, 255, 255, 0.25);
}

.container-form-shoot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-shoot {
    width:50%;
    padding-bottom: 50px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 7px 7px 4px 3px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(50px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 25px;
    position: absolute;
    display: block; 
    top: calc(50% - 30%); 
    left: calc(50% - 25%);
}

.title-shoot{
    color: white;
    font-family: 'rochester';
    text-align: center;
    font-size: 40px;
    padding: 40px;
}

.button-wrapper{
    margin-top: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.myanimated{
    transition: all ease .3s;
}

.vidcont{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    background: #000000A0;
    z-index: 2;
}

.vidcont:hover{
    cursor: none;
}

video:hover{
    cursor: none;
}

video{
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
}

.divvideo{
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.myoverlay{
    backdrop-filter: blur(7px);
}

.thanks{
    color: white;
    text-align: center;
    font-family: rochester;
    font-size: 50px;
    padding-top: 50px;
}

form {
    width: 100%;
}

.apologize, .shoot, .thanks, .btn-next, form{
    display: none;
}

 .typed-cursor {
    display: none;
}

.preloader {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
}

.preloader h5 {
    color: white;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: white;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: white;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

.copyright {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
    color: rgb(78 78 78);
    font-family: 'poppins';
    font-size: 10px;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}


/* responsive */
@media screen and (max-width:600px){
    .container{
        width: 80%;
    }

    .icon {
        padding-top: 30%;
    }

    svg{
        width: 30%;
    }

    .greeting {
        font-size: 1.8em;
    }

    .input-group {
        height: 50px;
    }

    .form-control {
        font-size: 20px;
    }

    .form-control::placeholder {
        font-size: 15px;
    }

    .btn {
        height: 40px;
        font-size: 10px;
        width: 110px;
    }

    .btn-input {
        margin-right: 10px;
    }

    .form-shoot{
        width: 70%;
        top: calc(50% - 30%); 
        left: calc(50% - 35%);
    }

    .title-shoot {
        font-size: 30px;
    }

    .divvideo{
        width: 100%;
    }

    .thanks {
        font-size: 30px;
    }
}
